*.class

# Package Files #
*.jar
*.war
*.ear


# Xtext specific ignores #
.DS_Store
target
bin
.svn
*.class
*.plugin.xml_gen
*.versionsBackup
*.bak
plugin.xml_gen
src-gen
xtend-gen
*.jar

# gedit backup files #
*~
